@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: rgba(255, 255, 255, 0.788);
    padding: 30px 40px;
    border: 2px solid rgba(240, 99, 181, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 420px;
    color: rgb(230, 153, 159) 

}

.container H1 {
    font-size: 36px;
    text-align: center;
    color: rgb(240, 99, 181);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: rgb(240, 99, 181);

}

.input-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(240, 99, 181, 0.2);
    outline: none;
    font-size: 18px;
    padding: 20px 45px 20px 20px;
    color: rgb(77, 81, 83);
    border-bottom: 2px solid rgba(240, 99, 181, 0.);
    border-radius: 40px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    color: rgb(240, 99, 181);

}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-top: 5px;
}

.remember-forgot a {
    color: rgb(240, 99, 181);
    text-decoration: none;
    font-size: 16px;
    margin-top: 4px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: rgb(240, 99, 181);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color:#ffffff;
}

.login:hover {
    background-color: transparent;
    border: solid 2px rgb(240, 99, 181);
    color: rgb(240, 99, 181);
    transition: 0.5s;
}

.register-link {
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
    color: rgb(240, 99, 181);

}

.register-link a {
    color: rgb(240, 99, 181);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.register-link a:hover {
    text-decoration: underline;
}